In [1]:
url = "https://www.basketball-reference.com/players/b/brownja02/gamelog/2022"

In [2]:
import requests
data = requests.get(url)

In [3]:
with open("Jaylen.html", "w+") as f:
        f.write(data.text)

In [4]:
from bs4 import BeautifulSoup

In [5]:
with open("Jaylen.html") as f:
    page = f.read()

In [6]:
soup = BeautifulSoup(page, "html.parser")

In [7]:
Brown = soup.find(id="pgl_basic")

In [8]:
import pandas as pd
df = pd.read_html(str(Brown))[0]

In [9]:
df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-20,24-361,BOS,@,NYK,L (-4),1,45:58,...,9,9,6,3,1,4,5,46,35.2,+16
1,2,2,2021-10-22,24-363,BOS,NaN,TOR,L (-32),1,28:24,...,4,4,0,0,0,5,2,9,-3.9,+3
2,3,NaN,2021-10-24,25-000,BOS,@,HOU,W (+10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
3,4,3,2021-10-25,25-001,BOS,@,CHO,W (+11),1,37:59,...,6,9,3,3,1,3,3,30,25.9,+12
4,5,4,2021-10-27,25-003,BOS,NaN,WAS,L (-9),1,37:21,...,4,4,1,0,0,3,3,13,1.5,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,63,2022-04-03,25-161,BOS,NaN,WAS,W (+42),1,28:34,...,7,7,5,2,0,0,1,32,32.1,+36
82,80,64,2022-04-06,25-164,BOS,@,CHI,W (+23),1,34:40,...,6,7,4,4,1,1,2,25,21.3,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,65,2022-04-07,25-165,BOS,@,MIL,L (-6),1,37:28,...,9,10,11,1,1,4,5,22,16.8,+3
85,82,66,2022-04-10,25-168,BOS,@,MEM,W (+29),1,23:03,...,3,3,4,0,0,3,4,18,9.1,+11

In [10]:
df.drop('G', axis=1, inplace=True)
df.drop('Age', axis = 1, inplace=True)
df.drop('Tm', axis = 1, inplace=True)

In [11]:
df

,Rk,Date,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,45:58,16,30,.533,...,9,9,6,3,1,4,5,46,35.2,+16
1,2,2021-10-22,NaN,TOR,L (-32),1,28:24,3,13,.231,...,4,4,0,0,0,5,2,9,-3.9,+3
2,3,2021-10-24,@,HOU,W (+10),Inactive,Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
3,4,2021-10-25,@,CHO,W (+11),1,37:59,12,20,.600,...,6,9,3,3,1,3,3,30,25.9,+12
4,5,2021-10-27,NaN,WAS,L (-9),1,37:21,5,16,.313,...,4,4,1,0,0,3,3,13,1.5,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,2022-04-03,NaN,WAS,W (+42),1,28:34,12,17,.706,...,7,7,5,2,0,0,1,32,32.1,+36
82,80,2022-04-06,@,CHI,W (+23),1,34:40,10,21,.476,...,6,7,4,4,1,1,2,25,21.3,+22
83,Rk,Date,NaN,Opp,NaN,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,2022-04-07,@,MIL,L (-6),1,37:28,8,20,.400,...,9,10,11,1,1,4,5,22,16.8,+3
85,82,2022-04-10,@,MEM,W (+29),1,23:03,8,16,.500,...,3,3,4,0,0,3,4,18,9.1,+11

In [12]:
df.drop(df.index[(df["Rk"] == "Rk")],axis=0,inplace=True)
df.drop(df.index[(df["GS"] == "Inactive")],axis=0,inplace=True)

In [13]:
df

,Rk,Date,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,45:58,16,30,.533,...,9,9,6,3,1,4,5,46,35.2,+16
1,2,2021-10-22,NaN,TOR,L (-32),1,28:24,3,13,.231,...,4,4,0,0,0,5,2,9,-3.9,+3
3,4,2021-10-25,@,CHO,W (+11),1,37:59,12,20,.600,...,6,9,3,3,1,3,3,30,25.9,+12
4,5,2021-10-27,NaN,WAS,L (-9),1,37:21,5,16,.313,...,4,4,1,0,0,3,3,13,1.5,-8
5,6,2021-10-30,@,WAS,L (-3),1,47:23,14,24,.583,...,6,6,2,1,1,3,3,34,23.1,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,78,2022-04-01,NaN,IND,W (+5),1,35:05,12,18,.667,...,2,3,7,2,0,5,5,32,25.4,+6
81,79,2022-04-03,NaN,WAS,W (+42),1,28:34,12,17,.706,...,7,7,5,2,0,0,1,32,32.1,+36
82,80,2022-04-06,@,CHI,W (+23),1,34:40,10,21,.476,...,6,7,4,4,1,1,2,25,21.3,+22
84,81,2022-04-07,@,MIL,L (-6),1,37:28,8,20,.400,...,9,10,11,1,1,4,5,22,16.8,+3
85,82,2022-04-10,@,MEM,W (+29),1,23:03,8,16,.500,...,3,3,4,0,0,3,4,18,9.1,+11

In [14]:
df.rename(columns = {'Unnamed: 5':'H or A'}, inplace = True)
df.rename(columns = {'Unnamed: 7':'Result'}, inplace = True)

In [15]:
df

,Rk,Date,H or A,Opp,Result,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,@,NYK,L (-4),1,45:58,16,30,.533,...,9,9,6,3,1,4,5,46,35.2,+16
1,2,2021-10-22,NaN,TOR,L (-32),1,28:24,3,13,.231,...,4,4,0,0,0,5,2,9,-3.9,+3
3,4,2021-10-25,@,CHO,W (+11),1,37:59,12,20,.600,...,6,9,3,3,1,3,3,30,25.9,+12
4,5,2021-10-27,NaN,WAS,L (-9),1,37:21,5,16,.313,...,4,4,1,0,0,3,3,13,1.5,-8
5,6,2021-10-30,@,WAS,L (-3),1,47:23,14,24,.583,...,6,6,2,1,1,3,3,34,23.1,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,78,2022-04-01,NaN,IND,W (+5),1,35:05,12,18,.667,...,2,3,7,2,0,5,5,32,25.4,+6
81,79,2022-04-03,NaN,WAS,W (+42),1,28:34,12,17,.706,...,7,7,5,2,0,0,1,32,32.1,+36
82,80,2022-04-06,@,CHI,W (+23),1,34:40,10,21,.476,...,6,7,4,4,1,1,2,25,21.3,+22
84,81,2022-04-07,@,MIL,L (-6),1,37:28,8,20,.400,...,9,10,11,1,1,4,5,22,16.8,+3
85,82,2022-04-10,@,MEM,W (+29),1,23:03,8,16,.500,...,3,3,4,0,0,3,4,18,9.1,+11

In [16]:
import numpy as np
df['H or A'] = df['H or A'].replace(['@'],'A')
df['H or A'] = df['H or A'].replace([np.nan],'H')

In [17]:
df

,Rk,Date,H or A,Opp,Result,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,A,NYK,L (-4),1,45:58,16,30,.533,...,9,9,6,3,1,4,5,46,35.2,+16
1,2,2021-10-22,H,TOR,L (-32),1,28:24,3,13,.231,...,4,4,0,0,0,5,2,9,-3.9,+3
3,4,2021-10-25,A,CHO,W (+11),1,37:59,12,20,.600,...,6,9,3,3,1,3,3,30,25.9,+12
4,5,2021-10-27,H,WAS,L (-9),1,37:21,5,16,.313,...,4,4,1,0,0,3,3,13,1.5,-8
5,6,2021-10-30,A,WAS,L (-3),1,47:23,14,24,.583,...,6,6,2,1,1,3,3,34,23.1,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,78,2022-04-01,H,IND,W (+5),1,35:05,12,18,.667,...,2,3,7,2,0,5,5,32,25.4,+6
81,79,2022-04-03,H,WAS,W (+42),1,28:34,12,17,.706,...,7,7,5,2,0,0,1,32,32.1,+36
82,80,2022-04-06,A,CHI,W (+23),1,34:40,10,21,.476,...,6,7,4,4,1,1,2,25,21.3,+22
84,81,2022-04-07,A,MIL,L (-6),1,37:28,8,20,.400,...,9,10,11,1,1,4,5,22,16.8,+3
85,82,2022-04-10,A,MEM,W (+29),1,23:03,8,16,.500,...,3,3,4,0,0,3,4,18,9.1,+11

In [18]:
df.to_csv("Brown.csv")