In [1]:
url = "https://www.basketball-reference.com/players/t/tatumja01/gamelog/2022"

In [2]:
import requests
data = requests.get(url)

In [3]:
with open("Jayson.html", "w+") as f:
        f.write(data.text)

In [4]:
from bs4 import BeautifulSoup

In [5]:
with open("Jayson.html") as f:
    page = f.read()

In [6]:
soup = BeautifulSoup(page, "html.parser")

In [7]:
Tatum = soup.find(id="pgl_basic")

In [8]:
import pandas as pd

In [9]:
df = pd.read_html(str(Tatum))[0]

In [10]:
df

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-20,23-231,BOS,@,NYK,L (-4),1,44:37,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2,2021-10-22,23-233,BOS,NaN,TOR,L (-32),1,30:20,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,3,2021-10-24,23-235,BOS,@,HOU,W (+10),1,36:54,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,4,2021-10-25,23-236,BOS,@,CHO,W (+11),1,41:28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,5,2021-10-27,23-238,BOS,NaN,WAS,L (-9),1,35:40,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,74,2022-04-03,24-031,BOS,NaN,WAS,W (+42),1,29:09,...,4,6,7,2,1,2,3,22,19.5,+22
82,80,75,2022-04-06,24-034,BOS,@,CHI,W (+23),1,30:09,...,10,10,8,2,1,2,1,16,13.5,+22
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,NaN,2022-04-07,24-035,BOS,@,MIL,L (-6),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,82,76,2022-04-10,24-038,BOS,@,MEM,W (+29),1,26:03,...,9,9,3,1,0,5,2,31,25.6,+29

In [11]:
df.drop('Rk', axis=1, inplace=True)

In [12]:
df.drop('Age', axis = 1, inplace=True)

In [13]:
df

,G,Date,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,BOS,@,NYK,L (-4),1,44:37,7,30,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,BOS,NaN,TOR,L (-32),1,30:20,8,14,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,BOS,@,HOU,W (+10),1,36:54,12,24,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,BOS,@,CHO,W (+11),1,41:28,14,28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,BOS,NaN,WAS,L (-9),1,35:40,9,22,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,74,2022-04-03,BOS,NaN,WAS,W (+42),1,29:09,9,17,...,4,6,7,2,1,2,3,22,19.5,+22
82,75,2022-04-06,BOS,@,CHI,W (+23),1,30:09,5,18,...,10,10,8,2,1,2,1,16,13.5,+22
83,G,Date,Tm,NaN,Opp,NaN,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,NaN,2022-04-07,BOS,@,MIL,L (-6),Inactive,Inactive,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
85,76,2022-04-10,BOS,@,MEM,W (+29),1,26:03,11,14,...,9,9,3,1,0,5,2,31,25.6,+29

In [17]:
df.drop(df.index[(df["G"] == "G")],axis=0,inplace=True)

In [18]:
df.drop(df.index[(df["GS"] == "Inactive")],axis=0,inplace=True)

In [19]:
df

,G,Date,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,BOS,@,NYK,L (-4),1,44:37,7,30,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,BOS,NaN,TOR,L (-32),1,30:20,8,14,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,BOS,@,HOU,W (+10),1,36:54,12,24,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,BOS,@,CHO,W (+11),1,41:28,14,28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,BOS,NaN,WAS,L (-9),1,35:40,9,22,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,72,2022-03-30,BOS,NaN,MIA,L (-8),1,39:35,9,17,...,4,5,6,2,0,4,4,23,16.8,-12
80,73,2022-04-01,BOS,NaN,IND,W (+5),1,37:13,10,24,...,4,6,6,1,1,1,0,31,24.9,-1
81,74,2022-04-03,BOS,NaN,WAS,W (+42),1,29:09,9,17,...,4,6,7,2,1,2,3,22,19.5,+22
82,75,2022-04-06,BOS,@,CHI,W (+23),1,30:09,5,18,...,10,10,8,2,1,2,1,16,13.5,+22
85,76,2022-04-10,BOS,@,MEM,W (+29),1,26:03,11,14,...,9,9,3,1,0,5,2,31,25.6,+29

In [20]:
df.rename(columns = {'Unnamed: 5':'H or A'}, inplace = True)

In [21]:
df

,G,Date,Tm,H or A,Opp,Unnamed: 7,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,BOS,@,NYK,L (-4),1,44:37,7,30,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,BOS,NaN,TOR,L (-32),1,30:20,8,14,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,BOS,@,HOU,W (+10),1,36:54,12,24,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,BOS,@,CHO,W (+11),1,41:28,14,28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,BOS,NaN,WAS,L (-9),1,35:40,9,22,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,72,2022-03-30,BOS,NaN,MIA,L (-8),1,39:35,9,17,...,4,5,6,2,0,4,4,23,16.8,-12
80,73,2022-04-01,BOS,NaN,IND,W (+5),1,37:13,10,24,...,4,6,6,1,1,1,0,31,24.9,-1
81,74,2022-04-03,BOS,NaN,WAS,W (+42),1,29:09,9,17,...,4,6,7,2,1,2,3,22,19.5,+22
82,75,2022-04-06,BOS,@,CHI,W (+23),1,30:09,5,18,...,10,10,8,2,1,2,1,16,13.5,+22
85,76,2022-04-10,BOS,@,MEM,W (+29),1,26:03,11,14,...,9,9,3,1,0,5,2,31,25.6,+29

In [22]:
df.rename(columns = {'Unnamed: 7':'Result'}, inplace = True)

In [23]:
df

,G,Date,Tm,H or A,Opp,Result,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,BOS,@,NYK,L (-4),1,44:37,7,30,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,BOS,NaN,TOR,L (-32),1,30:20,8,14,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,BOS,@,HOU,W (+10),1,36:54,12,24,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,BOS,@,CHO,W (+11),1,41:28,14,28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,BOS,NaN,WAS,L (-9),1,35:40,9,22,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,72,2022-03-30,BOS,NaN,MIA,L (-8),1,39:35,9,17,...,4,5,6,2,0,4,4,23,16.8,-12
80,73,2022-04-01,BOS,NaN,IND,W (+5),1,37:13,10,24,...,4,6,6,1,1,1,0,31,24.9,-1
81,74,2022-04-03,BOS,NaN,WAS,W (+42),1,29:09,9,17,...,4,6,7,2,1,2,3,22,19.5,+22
82,75,2022-04-06,BOS,@,CHI,W (+23),1,30:09,5,18,...,10,10,8,2,1,2,1,16,13.5,+22
85,76,2022-04-10,BOS,@,MEM,W (+29),1,26:03,11,14,...,9,9,3,1,0,5,2,31,25.6,+29

In [24]:
df['H or A'] = df['H or A'].replace(['@'],'A')

In [25]:
import numpy as np

In [26]:
df['H or A'] = df['H or A'].replace([np.nan],'H')

In [27]:
df

,G,Date,Tm,H or A,Opp,Result,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2021-10-20,BOS,A,NYK,L (-4),1,44:37,7,30,...,7,11,4,1,1,3,2,20,7.0,-3
1,2,2021-10-22,BOS,H,TOR,L (-32),1,30:20,8,14,...,6,6,4,0,2,5,3,18,10.8,-12
2,3,2021-10-24,BOS,A,HOU,W (+10),1,36:54,12,24,...,9,9,2,1,1,1,4,31,21.8,+4
3,4,2021-10-25,BOS,A,CHO,W (+11),1,41:28,14,28,...,6,7,8,0,1,2,3,41,32.6,+22
4,5,2021-10-27,BOS,H,WAS,L (-9),1,35:40,9,22,...,6,7,2,0,0,2,2,23,10.7,-8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,72,2022-03-30,BOS,H,MIA,L (-8),1,39:35,9,17,...,4,5,6,2,0,4,4,23,16.8,-12
80,73,2022-04-01,BOS,H,IND,W (+5),1,37:13,10,24,...,4,6,6,1,1,1,0,31,24.9,-1
81,74,2022-04-03,BOS,H,WAS,W (+42),1,29:09,9,17,...,4,6,7,2,1,2,3,22,19.5,+22
82,75,2022-04-06,BOS,A,CHI,W (+23),1,30:09,5,18,...,10,10,8,2,1,2,1,16,13.5,+22
85,76,2022-04-10,BOS,A,MEM,W (+29),1,26:03,11,14,...,9,9,3,1,0,5,2,31,25.6,+29

In [28]:
df.to_csv("Tatum.csv")

In [ ]:
df['column name'] = df['column name'].replace(['old value'],'new value')